body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.img-button{
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT5N77tko0t08oHu8O50yrukqlTjnJWZ_7cHlYeHGRnl0huqImV');
  cursor: pointer; 
  border-radius: 90%;
  height: 13rem;
   position: absolute;
  left: 60rem;
  width: 15rem;
  top: 10rem;

  -webkit-text-stroke: 2px red;
  -webkit-text-fill: 5px white;
  -webkit-text-width: 5px;
  
  font-size: 1.6rem;
}

.home{
  top: 25rem;
}

.search{
  top: 40rem;
}

.img-button:hover{
  transform: scale(1.1);
  transition: 0.5s;
}


main {
  width: 85vw;
  min-height: 80vh;
  max-width: 1024px;
  margin: 35px auto;
  background: #fff;
  padding: 15px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.grid-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.page-view {
  min-height: 40vh;
}

.grid-view div.card.ui {
  margin: 1.25rem;
}

/* .main-img {
  display: block;
  border-radius: 100%;
  margin: 0 auto;
} */

header h1 {
  text-align: center;
}

